@media (min-width: 1200px) {
    .ui.content.container {
        width: 85% !important;
    }
}
.ui.content.container {
    background: rgba(255, 255, 255, .92);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 140px;
    margin-bottom: 40px;
}
.ui.text.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #404040;
    margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;
}
#photo {
    width: 20%;
	max-width: 120px;
    flex: 0 0 auto;
    border-radius: 100%;
    border: 7px solid #fff;
    outline: 8px solid rgb(230, 230, 230);
    box-shadow: 2px 12px 12px rgba(34, 36, 38, .15);
    margin: -70px auto 0 auto;
}
#title {
    color: #40425b;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
#bgbox {
    background-image: url(/images/bg.png);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    /* opacity: 40%; */
}
.outer {
    background-color: #00000073;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 2px;
	border: none;
    border-bottom: 1px #dedede dashed;
	border-top: 1px solid transparent;
    background: none;  
}
#footer {
    color: #dedede !important;
}
#footer a {
    color: #fff !important;
    text-decoration: underline;
    transition: color .2s;
}
#footer a:hover {
    color: #c9c9c9 !important;
    text-decoration: underline;
}