/* 主体部分 */
@media (min-width: 1200px) {
	.ui.post.list.flex {
		width: 85% !important;
	}
}

.ui.post.list.flex {
	margin-top: 80px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background: #fff;
	width: 95%;
	transition: 1s;
	border-radius: 5px;
	box-shadow: 0 0 3px 3px #ddd;
}

/* 容器和文本上部距离 */
.post.list.flex>.date:first-child {
	padding-top: 20px;
}

/* 容器和文本下部距离 */
.post.list.flex>.items:last-child {
	padding-bottom: 20px;
}

.title.container {
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}

/* 年份背景 + 文本 */
.date.container {
	color: rgb(75, 75, 75);
	font-size: 28px;
	width: max-content;
	margin-left: 10%;
	font-weight: bold;
}

/* 年份背景 */
.date.background {
	background-color: rgb(235, 165, 101);
	height: 2px;
	width: 100%;
	margin-top: -3px;
	margin-bottom: 25px;
	border-radius: 1px;
}

/* 年份内描边 */
.post.date {
	cursor: pointer;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 20px;
	font-size: 29px;
	color: rgb(96, 96, 96);
	-webkit-text-stroke: 2.8px #fff;
}
.post.date:hover {
	color: rgb(77, 77, 77);
}

/* 年份描边伪元素 */
[data-content]::before {
	content: attr(data-content);
	position: absolute;
	-webkit-text-stroke: 0;
	color: rgb(75, 75, 75);
}

.ui.list.items {
	width: 90%;
	font-weight: bold;
	margin-left: auto !important;
	margin-right: auto !important;
}

.ui.items.title {
	font-size: 18px;
	margin-right: auto;
}

.time {
	font-size: 18px;
	width: 20%;
}

.items>a {
	display: flex;
	align-items: center;
	flex-direction: row;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 15px;
	color: rgb(96, 96, 96);
	box-sizing: border-box;
	background: #fff;
	transition: .15s;
}

.items>a:hover {
	transition: .15s;
	color: rgb(238, 122, 76);
	background: rgb(245, 245, 245);
	color: rgb(238, 122, 76);
	background: rgb(245, 245, 245);
}

#dir {
	padding-top: 30px;
	width: max-content;
	margin: 0 auto;
	color: rgb(77, 77, 77);
	/* font-size: 120%; */
	/* font-weight: bold; */
}