.ui.post.list.flex {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-top: 80px;
    background: #fff;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px #ddd;
}
.post.list.flex > .date:first-child {
    padding-top: 20px;
}
.ui.list.items {
    width: 85%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.ui.items.title {
    font-size: 21px;
    width: 100%;
}
.date {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 25px;
    color: rgb(96, 96, 96);
}
.time {
    font-size: 18px;
}
.items > a {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
    color: rgb(96, 96, 96);
    box-sizing: border-box;
    background: #fff;
    transition: .15s;
}
.items > a:hover {
    transition: .15s;
    color: rgb(238, 122, 76);
    background: rgb(245, 245, 245);
    color: rgb(238, 122, 76);
    background: rgb(245, 245, 245);
}