@media (min-width: 1200px) {
    .ui.friends.container {
        width: 85% !important;
    }
}
.ui.friends.container {
    background: #fff;
    max-width: 1000px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 80px;
    margin-bottom: 40px;
    overflow: hidden;
	transition: 1s !important;
}
.friends.list {
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15.5px;
    line-height: 1.5em;
    color: #555668;
    padding-bottom: 40px;
}
#friends-title {
    margin-top: 40px;
    color: #40425b;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
#member-info {
	display: inline-block;
	background: #fff;
    border-radius: 8px;
    color: #555668;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
	margin: .2em;
    transition: .1s;
}
.info.title, .info.avatar {
	display: inline-block;
}
#member-info:hover {
    transition: .1s;
    color: rgb(238, 122, 76);
}
.info.avatar {
    width: 80px;
}
.info.avatar > img {
    border-radius: 100%;
    box-shadow: 2px 12px 12px rgba(34,36,38,.15);
}
/* Valine */
#vcomments {
    margin-top: 15px;
}