@media (min-width: 1200px) {
    .ui.friends.container {
        width: 85% !important;
    }
}
.ui.friends.container {
	background: #fff;
    max-width: 1000px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 80px;
    margin-bottom: 40px;
    overflow: hidden;
	transition: 1s;
}
.info {
	text-align: center;
}
.friends.list {
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15.5px;
    line-height: 1.5em;
    color: #555668;
    padding-bottom: 40px;
}
.memberblock {
	display: inline-block;
	background: #fff;
	min-width: 140px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
	margin: .2em;
    transition: .1s;
}
.info.title, .info.avatar {
	display: inline-block;
}
.info.avatar {
    width: 80px;
	text-align: center;
}
.info.avatar > img {
    border-radius: 100%;
    box-shadow: 2px 12px 12px rgba(34,36,38,.15);
}
.info.title {
	font-weight: bold;
    color: #555668;
}
.info.intro {
	font-style: italic;
	color: #888;
}
.member.container {
	padding: 10px;
}
.member.container * {
	transition: .15s;
}
.member.info.container:hover {
    background: #eee;
}
.member.info.container:hover * {
	color: rgb(235, 165, 101) !important;
}
#friends-title {
    margin-top: 40px;
    color: #40425b;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
/* Valine */
#vcomments {
    margin-top: 15px;
}