@media (max-width: 767px) {
    .main.container {
        width: auto;
    }
}
@media (min-width: 1200px) {
    .main.container {
        width: 1160px;
    }
}
@media (min-width: 1600px) {
    .main.container {
        width: 73%;
    }
}
@media (max-width: 991px) {
    .main.container {
        display: block;
        width: auto;
    }
}
@media (max-width: 1200px) {
    #information {
        opacity: 0 !important;
        position: fixed !important;
		z-index: -1;
    }
    .ui.post.list.flex {
        width: 100% !important;
		padding-left: 0 !important;
    }
}
.main.container {
    display: flex;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    align-items: stretch;
    margin: auto;
    margin-top: 40px !important;
    transition: 1s;
}
blockquote {
	line-height: normal;
	margin: 15px 0;
}
#information {
    background: #ffffffeb;
    border-radius: 5px;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0 5px 5px rgba(34,36,38,.15);
    padding: 25px 0 35px 0;
    text-align: center;
    margin-left: 1%;
    margin-top: 40px;
    /* 粘性定位 */
    position: sticky;
    top: 60px;
    width: calc(45% - 35px);
	max-width: 250px;
}
#username {
    color: #393939;
    font-size: 25px;
    font-weight: bold;
	margin-bottom: 0;
}
#introtext {
    color: #6e6e6e;
    /* font-style: italic; */
    line-height: 1.5;
    width: 85%;
    text-align: center;
    margin: 15px auto;
    font-size: 90%;
}
.info-icons {
	margin-top: 20px;
}
/* 头像 */
#avatar {
    width: 128px;
    flex: 0 0 auto;
    border-radius: 50%;
    margin: auto;
    max-width: 120px;
    border: 2px solid #eee;
    padding: 2px;
}
.index.icons {
    color: rgb(99, 99, 99);
    transition: .15s;
    display: inline-block;
    margin-right: .5em;
}
.index.icons > i {
    font-size: 20px;
}
.index.icons:hover {
    color: rgb(235, 165, 101);
    cursor: pointer;
}

.ui.post.list.flex {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    box-sizing: border-box;
	width: -webkit-fill-available;
	width: -moz-available;
}
.list.block {
    width: 100%;
    background-color: #ffffffeb;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34,36,38,.15);
    text-align: left;
    margin-bottom: 1.5rem;
}
.excerpt > p {
	margin: 0 auto !important;
}
.ui.post.list.description {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
}
.ui.post.list.title {
    margin-top: 40px;
    font-size: 1.5rem;
    width: 100%;
    padding-bottom: 10px;
}
.wordcount {
    width: 85%;
    color: rgb(99, 99, 99);
    font-size: 15px;
    padding: 6px 10px;
	margin-top: 10px;
    margin-left: auto !important;
    margin-right: 0 !important;
    margin-bottom: 40px;
    transition: .15s;
    cursor: default;
}
.wordcount>:nth-child(2) {
    padding-left: 6px;
}
.ui.post.list.title > a {
    transition: .15s;
    color: #393939;
	font-weight: bold;
}
.ui.post.list.title > a:hover {
    color: rgb(235, 165, 101) !important;
}
.ui.post.list.excerpt {
    width: 100%;
    line-height: 2.2;
    margin-top: 10px;
}
.excerpt {
    color: rgb(99, 99, 99);
    font-size: 16px;
    line-height: 160%;
    width: 100%;
    transition: .15s;
}
.post.details {
    width: 85%;
    color: rgb(99, 99, 99);
    font-size: 15px;
    padding: 6px 6px;
	margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 40px;
    transition: .15s;
    cursor: default;
}
.post.list > a > h1, h2, h3, h4, h5 {
    font-size: 19px;
}
/* 分页 */
.paginator {
	display: flex;
}
.paginator > * {
	padding: 10px;
	margin: 3px;
	min-width: 20px;
	color: #ccc;
	background: #fff;
	padding: 5px;
	text-align: center;
	box-shadow: 1px 1px 5px #999;
	border-radius: 2px;
    transition: .2s;
}
.paginator > .current {
	color: rgb(238, 122, 76);
	cursor: default !important;
}
.paginator > .space {
	cursor: default !important;
}
.paginator > a {
	color: #777;
}
.paginator > a:hover {
	color: rgb(235, 165, 101);
	background: #eee;
}