body {
    margin: 0;
    background: rgb(230, 230, 230);
    font-family: 'Microsoft Yahei', 'Serif';
}
/* 这是历史遗留问题 */
.hoyo { 
    font-family: 'Microsoft Yahei', 'Serif';
}

.dotted.border, hr.dotted {
    border: none !important;
    background: none;
    border-bottom: rgb(238, 122, 76) dotted !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    border: none;
    border-top: 1px solid transparent;
    background: linear-gradient(white, white) padding-box,
                repeating-linear-gradient(-45deg, #ccc 0,
                                #ccc 5px, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 8.5px);
}
a {
    text-decoration: none;
    color: rgb(235, 165, 101);
    transition: .1s;
	cursor: pointer;
}
a:hover {
    transition: .1s;
    color: rgb(238, 122, 76);
}
.yahei {
    font-family: 'Arial', 'Microsoft Yahei', 'Serif';
}
blockquote {
    border-radius: 4px;
    background: rgb(248, 248, 248);
    padding: 0 15px;
    max-width: 100%;
    margin: 0;
    border: #bbb solid 1.5px;
    font-size: 14px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 17px;
}
@font-face {
    font-family: 'FiraCode';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/FiraCode-Regular.ttf') format('truetype');
}
code {
    font-family: 'FiraCode', 'Consolas', 'Microsoft Yahei', 'Serif';
    font-size: 14px;
    /* background: #eee; */
    /* padding: 2px; */
    border-radius: 3px;
    line-height: 1em;
    color: #3e3e3e;
}
pre[class*="language-"] {
    box-shadow: 0 0 4px 4px rgba(34, 36, 38, 0.07);
}
pre > code {
    background: unset !important;
    padding-right: 10px;
}
pre > code > #text {
    background: unset !important;
}
.language-css .token.string, .style .token.string,
        .token.entity, .token.operator, .token.url {
    background: unset !important;
}
figure.highlight, .fira {
    font-family: 'FiraCode', 'Consolas', 'Serif' !important;
}
pre.line-numbers {
    font-size: .95em;
}
img {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}
a.citem {
	background: #e3e3e3;
    color: rgb(91, 91, 91);
    text-align: center;
    border-radius: 2px;
    transition: .1s;
    box-sizing: border-box;
    margin: 2px;
	font-size: 13px;
	padding: 4px 5px;
}
a.citem:hover {
    color:#fff;
    transition: .1s;
	background: #c3c3c3;
}
.ui.top.menu {
    background: #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001; /* u1s1 有点抽象，Valine 查看更多的 z-index 是 999，我原来设的顶栏 z-index 是 101 不够用 😓 */
    box-shadow: 0 3px 2px 0 rgba(34,36,38,.15);
}
#rightali {
    display: flex;
	font-weight: bold;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
}

.logo > img {
    max-width: 35px;
    margin-left: .4em;
    margin-right: .2em;
}
.logo {
    line-height: 1.5;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 80px;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#bartitle {
    color: #183153;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Arial', 'Microsoft Yahei', 'Serif';
	margin-right: .4em;
}
/* 词条基本设置 */
.ui.top.menu > div > .item {
    line-height: 1.5;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    padding: .6em 1em;
    min-width: 80px;
    text-align: center;
    font-size: 16px;
}
.ui.top.menu > div > .item {
    color: rgb(91, 91, 91);
    background: #fff;
    height: 100%;
    transition: .15s;
}
.logo:hover {
    transition: .15s;
    background: rgb(250, 250, 250);
}
.ui.top.menu > div > .item:hover {
    transition: .15s;
    color: rgb(238, 122, 76) !important;
    background: rgb(250, 250, 250);
}

/* -------- Valine ------- */
#veditor {
    font-family: 'FiraCode', 'Microsoft Yahei', 'Serif';
}
.vpower.txt-right > a {
    font-size: 1em !important;
}
#rootitem {
    color: #fff;
    background: orange;
    font-size: .9em;
    padding: 2px 5px;
    border-radius: 2px;
}
a.vnick {
    transition: .15s;
}
a.vnick:hover {
    transition: .15s;
    color: rgb(235, 165, 101) !important;
}
#footer {
    text-align: center;
    color: #919191 !important;
    margin-bottom: 20px;
	margin-top: 20px;
}
span.vpriority {
	color: #919191;
	font-size: 14px;
}
/* details 特化 */
details {
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 5px;
	background: #f4f4f4;
}
details > p, blockquote > p /* 引用优化 */ {
	font-family: 'Cambria Math', '仿宋';
	font-size: 18px;
}
details > p > span, details > p > nobr {
	font-size: 15.5px !important;
}
details > summary {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	cursor: pointer;
}
details[open] {
	animation: detailsmove 1s;
	-webkit-animation: detailsmove 1s;
}
@keyframes detailsmove {
	100% {
		height: auto;
	}
}
@-webkit-keyframes detailsmove {
	100% {
		height: auto;
	}
}
/* 搜索相关配置 */
/* 搜索框容器 */
.d-flex {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 20px;
}
/* 搜索框 */
#local-search-input {
	border: none;
	font-size: 13px;
	border-bottom: 1px #ccc solid !important;
	padding-bottom: 2px;
	outline: none;
}
/* 占位符 */
::placeholder {
	font-family: 'FiraCode';
}
::-webkit-input-placeholder {
	font-family: 'FiraCode';
}
/* 搜索结果 */
#local-search-result {
	padding-bottom: 10px;
	max-height: 200px;
	overflow: auto;
}
/* 搜索图标 */
i#search-icon {
	margin-top: .2em;
    color: rgb(99, 99, 99);
    margin-right: .2em;
    font-size: 18px;
}
a#Search {
	padding-top: 10px;
  	min-width: unset;
}
p.search-result {
	color: #6e6e6e;
}
em.search-keyword {
	color:rgb(238, 122, 76);
	font-style: normal;
	font-weight: bold;
}
/* 图片 text */
figure {
	text-align: center;
}
figcaption {
	margin-top: 5px;
	font-style: italic;
	color: #777;
	font-size: 90%;
}
/* 搜索 */
#searchbar {
	background: #CCC;
}
/* ------------ End. Copyright: XSC062 -------------*/
