.ui.post.container {
    background: #fff;
    max-width: 1000px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 80px;
    margin-bottom: 40px;
    overflow: hidden;
}
.ui.text.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', 'Microsoft Yahei', 'Serif';
    font-size: 15.5px;
    line-height: 1.5em;
    color: #404040;
    padding-bottom: 40px;
}
/* 文章标题背景 + 文本 */
.ui.post.title {
    color: rgb(75, 75, 75);
    padding-top: 40px;
    padding-left: 40px;
    font-size: 28px;
    width: max-content;
}
/* 标题背景 */
.ui.title.background {
    background-color: rgb(235, 165, 101);
    height: 16px;
    width: 100%;
    margin-top: -16px;
    border-radius: 1px;
}
/* 标题文本内描边 */
#fortitle {
    margin-left: 5px;
    margin-right: 5px;
    -webkit-text-stroke: 2.8px #fff;
}
/* 标题外描边伪元素 */
[data-content]::before {
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 0;
    color: rgb(75, 75, 75);
}
/* 一言 */
#hitokoto {
    width: 450px;
    max-width: 65%;
    height: auto;
    padding-bottom: 12px;
    border: solid #000;
    border-radius: 3px;
    margin: 0 auto;
}
#hitokoto-title {
    text-align: center;
    margin-bottom: 10px;
}
#hitokoto-content {
    font-size: 1em;
    line-height: 160%;
    /* display: none; */
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
#hitokoto-from {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
    /* display: none; */
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}