/* 框子 */
@media (min-width: 1500px) {
	.main {
		width: 73% !important;
    }
}
@media (min-width: 1200px) {
    #sidebar {
        width: 236px !important;
        opacity: 1 !important;
    }
    .ui.post.container {
        width: calc(100% - 236px - 15px) !important;
    }
}
.main {
	display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
	margin-top: 80px;
    width: 87%;
}
/* 文章 */
.ui.post.container {
	background: #fff;
    /* max-width: 1000px; */
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-bottom: 40px;
    overflow: hidden;
	transition: 1s !important;
}
.ui.text.container {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15.5px;
	line-height: 1.5em;
	color: #555668;
	padding-bottom: 40px;
}
#content {
	padding-top: 8px;
}
/* 目录 */
#sidebar {
    width: 0;
    opacity: 0;
	transition: 1s !important;
}
#toc {
    transition: .2s linear;
    position: -webkit-sticky;
    position: sticky;
    min-height: 400px;
    background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
    border-radius: 8px;
    left: 140px;
    padding: 20px 8px;
    top: 70px;
    color: rgb(99, 99, 99);
    padding-bottom: 20px;
}
#toc:hover {
    background-color: #fff;
}
#toc a {
    color: rgb(145, 145, 145);
    transition: .15s;
}
#toc a:hover {
    color: rgb(184, 184, 184);
}
#toctitle {
	padding: 20px;
    font-size: 17px;
    font-weight: bold;
}
#toc .toc, #toc .tocitem {
	padding-left: 15px;
    font-size: 15px;
    line-height: 1.3em;
}
.toc {
	padding: 0;
    margin-top: 10px;
    max-height: 500px;
    overflow-y: scroll;
}
.toc::-webkit-scrollbar {
    width: 0;
}
#toc li, #toc li *[class^="toc"] {
	margin: 2px;
    list-style: none;
    overflow: hidden;
    text-wrap: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#toc li {
    padding: 0 10px;
}
#toc ol {
    padding-inline-start: 0;
}
#tip {
    color: rgb(184, 184, 184);
    padding: 10px 10px 0 20px;
    font-size: 90%;
    cursor: default;
}
/* 小东西 */
/* 文章标题背景 + 文本 */
.ui.post.title {
	color: rgb(75, 75, 75);
	font-weight: bold;
    margin-top: 40px;
    font-size: 28px;
    margin-bottom: 15px;
    width: max-content;
    font-family: 'Serif';
    /* transition: .2s; */
}
/* 标题背景 */
.ui.title.background {
	background-color: rgb(235, 165, 101);
    height: 16px;
    width: 100%;
    margin-top: -16px;
    border-radius: 1px;
}
/* 标题文本内描边 */
#fortitle {
	margin: 0 5px 8px 5px;
    -webkit-text-stroke: 2.8px #fff;
}
/* 标题外描边伪元素 */
[data-content]::before {
	content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 0;
    color: rgb(75, 75, 75);
}
/* 文章信息（创建日期、标签） */
/* 谢谢你，Microsoft Edge flexbox 编辑器，发明你的人真是个天使 ❤ */
#postcon {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}
#postinfo {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-content: center;
	align-items: baseline;
}
#posttags {
	padding-bottom: 20px;
}
#posttags * {
	margin-left: unset;
}
#date {
	margin-left: 20px;
	color: rgb(99, 99, 99);
	font-size: 14px;
}
/* 老文章的黄框框 */
#oldPost {
	background-color: rgb(251, 246, 187);
	padding: 20px;
	border-radius: 5px;
	border: #cc781e solid 1px;
	color: #cc781e;
}
/* 一言 */
#hitokoto {
	width: 450px;
    max-width: 65%;
    height: auto;
    padding-bottom: 12px;
    /* border: solid #000; */
    border-radius: 3px;
    margin: 0 auto;
}
#hitokoto-title {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
}
#hitokoto-content {
    font-size: 1em;
    line-height: 160%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
#hitokoto-from {
    margin-top: 10px;
    font-size: 1em;
    color: #666;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}
/* 前驱、后继跳转 */
.button.flex {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#prev, #next {
    display: flex;
    max-width: 50%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}
#prev {
    justify-content: flex-start;
}
#next {
    justify-content: flex-end;
}
#prev > a:hover, #next > a:hover {
    background: rgb(245, 245, 245);
    color: rgb(235, 165, 101);
    transition: .2s;
}
#prev > a {
    padding: 15px;
    background: #fff;
    color: rgb(104, 104, 104);
    transition: .2s;
	display: flex;
    /* width: 60%; */
	align-items: center;
}
#next > a {
    padding: 15px;
    background: #fff;
    color: rgb(104, 104, 104);
    transition: .2s;
	display: flex;
	align-items: center;
    /* width: 60%; */
    justify-content: flex-end;
}

/* 修修补补 */
/* 图片 */
#content img {
    display: block;
	margin: 10px auto;
	box-shadow: 0 0 8px #CCC;
}
#content img[src^="https://math.now.sh"] {
    box-shadow: none;
    vertical-align: sub;
}
/* Valine */
#vcomments {
    margin-top: 15px;
}