@media (min-width: 1200px) {
    .ui.content.container {
        width: 85% !important;
    }
}
.ui.content.container {
    background: #fff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 140px;
    margin-bottom: 40px;
}
.ui.text.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #404040;
    margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;
	padding-bottom: 40px;
}
#title {
    margin: -70px auto 0 auto;
    color: #40425b;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	padding-top: 40px;
}
#tagcloud {
    line-height: normal;
    margin-top: auto;
    margin-bottom: auto;
}
.tags {
	margin: 3px 2px;
	text-wrap: nowrap;
    padding: 5px 10px;
    border-radius: 9999px;
    display: inline-block;
    transition: .15s;
}
.tags::before {
    content: '# ';
}
.tags.level-0 {
    background-color: rgb(231, 247, 255);
    color: rgb(44, 161, 240);
    border: 1px solid transparent;
}
.tags.level-0:hover {
    background-color: rgb(205, 238, 255);
    border: 1px solid rgb(44, 161, 240);
}
.tags.level-1 {
    background-color: rgb(231, 255, 240);
    color: rgb(4, 148, 11);
    border: 1px solid transparent;
}
.tags.level-1:hover {
    background-color: rgb(193, 245, 213);
    border: 1px solid rgb(4, 148, 11);
}
.tags.level-2 {
    background-color: rgb(255, 245, 231);
    color: rgb(252, 179, 45);
    border: 1px solid transparent;
}
.tags.level-2:hover {
    background-color: rgb(255, 238, 213);
    border: 1px solid rgb(252, 179, 45);
}
.tags.level-3 {
    background-color: rgb(255, 231, 231);
    color: rgb(245, 69, 69);
    border: 1px solid transparent;
}
.tags.level-3:hover {
    background-color: rgb(255, 218, 218);
    border: 1px solid rgb(245, 69, 69);
}
.count {
    margin-left: 2px;
    font-size: 10px;
}