@media (min-width: 1200px) {
    .ui.content.container {
        width: 85% !important;
    }
}
.ui.content.container {
    background: #fff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(34, 36, 38, .15);
    margin-top: 140px;
    margin-bottom: 40px;
}
.ui.text.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Arial', 'Microsoft Yahei', 'Serif';
    font-size: 16px;
    line-height: 1.5em;
    color: #404040;
    margin-top: 30px;
    margin-bottom: 30px;
	text-align: center;
	padding-bottom: 40px;
}
#title {
    margin: -70px auto 0 auto;
    color: #40425b;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
	padding-top: 40px;
}
.tags {
	margin: 10px;
	text-wrap: nowrap;
}