<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Page Not Found
    </title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
    <!-- 顶栏整体导航菜单 -->
    <div class="ui top menu">
        <!-- 左对齐 logo -->
        <a class="logo">
            Logo
        </a>
        <!-- 右对齐部分导航 -->
        <div id="rightali">
            <a class="active item" id="Home" href="/">
                Home
            </a>
            <a class="item" id="Arch" href="/archive">
                Archive
            </a>
            <a class="item" id="Cate" href="/categoties">
                Categories
            </a>
            <a class="item" id="Tags" href="/tags">
                Tags
            </a>
            <a class="item" id="Frie" href="/friends">
                Friends
            </a>
            <a class="item" id="Abou" href="/about">
                About
            </a>
            <!-- 下拉菜单 -->
            <div class="drop down item flex" href="/interests">
                <!-- 假的 Interests，用于触发下拉菜单 -->
                <!-- 设计参考了 SYZOJ -->
                <div>
                    Interests
                </div>
                <!-- 下拉菜单本体 -->
                <div class="drop down menu">
                    <a class="item" id="Inte" href="/interests">
                        Interests
                    </a>
                    <a class="drop down item ex" href="/imgs">
                        Images
                    </a>
                    <a class="drop down item ex" href="/videos">
                        Videos
                    </a>
                    <a class="drop down item ex" href="/musics">
                        Musics
                    </a>
                    <a class="drop down item ex" href="/interests">
                        seemore
                    </a>
                </div>
            </div>
        </div>

        
    </div>
    
    <div class="white big block">
        
    </div>

</body>
</html>

<!--<!DOCTYPE html>
<html>

<%- partial('_partial/header.ejs') %>

<%- css('/css/layout.css') %>

<body>
    <div id="container">
        <div class="ui top menu">
            <a class="item" id="Home" href="/">
                Home
            </a>
            <a class="item" id="Arch" href="/archives">
                Archive
            </a>
            <a class="item" id="Tags" href="/tags">
                Tags
            </a>
            <a class="item" id="Cate" href="/categories">
                Categories
            </a>
            <a class="item" id="Abou" href="/about">
                About
            </a>
            <a class="item" id="Frie" href="/friends">
                Friends
            </a>
            <a class="drop down item" id="Inte" href="/interests">
                Interests
            </a>
        </div>

        
    </div>

    

</body>

</html>-->
